<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>LivBoulder Home</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
	<link href="../resources/css/home.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
	<nav class="navbar navbar-default navbar-expand-lg">
	  <a class="navbar-brand" href="home.html">
    <!-- This is where we would add a logo to our nav bar if we want it -->
		<!--<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30"> -->
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link navbar-writing" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link navbar-writing" href="recommendations.html">Register <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link navbar-writing" href="registration.html">My Profile</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
		</div>
	  </div>
	</nav>

	<header class="text-right">
			<div class="header-img">
      			<h1> LivBoulder </h1>
    		</div>
	</header>

  <!-- About Grid Section -->
  <section class = "green-color text-white mb-0" id="about">
    <div class="container about">
      <h2 class=" text-center cream-color">About</h2>
      <div class="row">
        <div class="col-lg-10 ml-auto cream-color">
          <p> LivBoulder connects people to outdoor adventures based off of their preferences. Simply create a profile and take our activity quiz to explore all of the opportunity Boulder has to offer in the great outdoors. Wheter you are an advanced hiker, or just want to find an easy walking trail, LivBoulder has you covered.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Mission Statement Grid Section -->
  <section class="green-color">
    <div class="container mission">
      <h2 class="grid-label cream-color text-center ">Mission Statement</h2>
      <div class="row">
        <div class="col-lg-10 ml-auto cream-color ">
          <p> LivBoulder strives to inspire people to live bolder, more exciting, and more fulfilling lives by connecting them with outdoor experiences right in their own backyard.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Team Grid Section -->
  <section class = "green-color" id="team">
    <div class="container">
      <h2 class="grid-label cream-color text-center ">Team</h2>
    </div>

     <div class="card-deck">
	    <div class="card">
	      <div class="card-body text-center blue-color">
	        <p class="card-text">Brenda</p>
	        <p class="card-text">photo here</p>
	     
	      </div>
	    </div>
	    <div class="card ">
	      <div class="card-body text-center blue-color">
	        <p class="card-text">Ryan</p>
	      </div>
	    </div>
	    <div class="card ">
	      <div class="card-body text-center blue-color">
	        <p class="card-text">Matt</p>
	      </div>
	    </div>
	    <div class="card ">
	      <div class="card-body text-center blue-color">
	        <p class="card-text">Travis</p>
	      </div>
	    </div>  
	     <div class="card ">
	      <div class="card-body text-center blue-color">
	        <p class="card-text">Yang</p>
	      </div>
	    </div>  
	     <div class="card">
	      <div class="card-body text-center blue-color">
	        <p class="card-text ">Grey</p>
	      </div>
	    </div>  
	</div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
