/*Hides the horizontal scrollbar*/
html{
	overflow-x: hidden;
}

/* Navbar */
.navbar-default {
	background-color: #136917;
}

/*Defined Class, White*/
.navbar-writing{
	color: #FFFFFF;
}

/*Defined Class, Blue */
.blue-color{
	background-color: #6F80FF;
}

/*Defined Class, Green*/
.green-color{
	background-color: #75B247;
}
/*Defined Class, cream */
.cream-color{
	color: #F5F7DF;
}

/* Hero  */
.header-img {
	width: 100%;
	background:url('../img/largeHeaderImg.jpg');
	height:500px;
	background-position: center;
	background-size: cover;
}

/* Content Grid */
.grid-label {
	padding-top: 50px;
}

/*Defined Class, creates grey box around text sections */
.row {
	text-align: center;
}

/*Defined Class, alligns writing in paragraphs to left */
.txt-align {
	text-align: left;
	margin-right: 20%;
}

.footer {
	background-color: #136917;
}
