/* Navbar */
.navbar-default {
	background-color: #75B247;
}

.navbar-writing{
	color: #FFFFFF;
}

/* Hero  */
.header-img {
	width: 100%;
	background:url('../img/largeHeaderImg.jpg');
	height:500px;
	background-position: center;
	background-size: cover;
}

/* Content Grid */
.grid-label {
	padding-top: 25px;
}
